<div class="aero-head">
    <div class="a-h-data">
        <h2>     
            Oil & Gas
        </h2>
        <p>
            Explore the wide range of roles that are available in the Oil & Gas Industry!
        </p>
    </div>
    <div class="directory">
        <p>Home / Our Services / 
            Oil & Gas
            </p>
    </div>
</div>


<div class="aero-space">

<div class="aero">
   <div class="aero-p">
    <p>
        KS IT Solutions is proud to be able to offer our clients in upstream & downstream oil and gas a unique combination of services from unlocking human resource potential to identifying and realizing the value of oil and gas assets.
         </p>
      <p>
        When it comes to the oil and gas industry, KS IT Solutions has established and maintains a leading presence in the world’s strategic oil, gas and petrochemical locations. With our geographical coverage and operational scale, KS IT Solutions quickly sources the talented teams and professionals that our clients need to achieve their business plans and fulfill their project goals.      </p>   
       <p>
        The oil and gas manufacturing landscape is undergoing dramatic changes, on the business side, in exploration, commodities, and especially in technological innovations in the development of supply chains. This increasingly globalized market has a diverse playing field of traditional and all-new players, all vying for talented professionals to manage daily operations. While a prevailing challenge is finding top talent to run the manufacturing side of the business, a growing challenge is finding knowledgeable technical, asset and transaction specialists. We help companies fill the leadership void.       </p>
        <p>We search for, source and supply candidates for oil and gas jobs throughout the America. KS IT Solutions is sector specialists with the capability, networks and expertise to provide quality personnel across every key discipline and function within the energy and chemicals sector. In addition to senior management positions, we recruit for project management, engineering, design, project services, construction, commissioning and operations and maintenance roles at all levels across the following industry sectors:
        </p>

</div>
<img src="assets/clogo.PNG" alt="">
</div>

<div class="aero-list" style="margin-top:0">

<div class="a-l-data">
<li>
    Oil exploration and field development
</li>
<li>Chemicals and petrochemicals
</li>
<li>Gas processing
</li>
<li> Oil refining and transportation
  </li>
<li>Heavy oil upgrading and oil sands</li>

</div>

<div class="a-l-data">

    <li>
        Hydrocarbon transportation
    
    
    </li>
    <li>Traditional power (coal, gas and oil-fired)
   
    </li>
    <li>Alternative power and renewables
        
    </li>
    <li>Nuclear power and decommissioning
        
    </li>
    <li>Environmental management and remediation
    </li>
    </div>

</div>
<div class="aero oil" style="margin-top: -5rem;width:100%; ">
    <div class="aero-p" style="width:89%; font-weight: bold;">
        <p>We have the capability and global reach to source top quality candidates worldwide at advantaged pricing, through selective and targeted recruiting, networking, database searching and advertising.
        </p>
        <p>
            Our experience in the O&G staffing industry has given our recruiters the expertise to find qualified candidates in all professional areas of oilfield engineering, including skilled trades, supply chain, financial analysis, management, administration and support.

        </p>
    </div>
</div>

<div>
<h6 class="position-1 h6">Oil and Gas positions we specialize in placing include the following:
</h6>
</div>
<div class="aero-list" style="margin-top:0">

    <div class="a-l-data">
    <li>

        QA / Risk Management    
        </li>
    <li>  Purchasing / Buyers
        </li>
    <li> Project Management
       
    </li>
    <li> Materials Analyst
        
      </li>
    <li>O&G Accounting
        </li>
    <li>Engineer
        </li> 
    <li>Petroleum Engineer</li>       
    
    </div>
    
    <div class="a-l-data">
    
        <li>
           
    Reservoir Engineer
        </li>
        <li>Geophysical Engineer
        </li>
        <li>Supply Chain
        </li>
        <li>Health Safety and Environmental HSE
        </li>
        <li>Drafters / Designers
        </li>
        <li>Business Analyst
        </li>
        <li>Operations Manager</li>
        </div>

        <div class="a-l-data">
            <li>
    Oil and Gas Financial Analyst
            </li>
            <li>  Site Supervisor
               </li>
            <li> Geophysicist
                </li>  
            <li>
                Geotechnical Engineer
            </li>  
            <li>
                Sub Sea Engineer
            </li>  
            <li>
                Engineering Design
            </li> 
            <li>Environmental Engineer
            </li>
        </div>
    
    </div>


</div>