<footer>
<div class="footer"style=" color: white; padding: 0; margin: 0;">
<div style="text-align: center;">
  <h4>Connect with Us </h4>
</div>

  <div class="footerData">

      <div class="li">
        <div class="li2">
          <div class="position">
          <h5>Contact Info</h5>
        </div>

          <li> <span class="material-icons ico">mail</span>hr@ksitsolutions.in</li>
          <li> <span class="material-icons ico">phone</span>India : +91-929-052-9537 </li>
          <li><span class="material-icons ico">phone</span>India : +91-863-963-3297</li>
        </div>

    </div>


  <div class="li ">
    <h5>Address</h5>
    <li class="respo">19-4-14/2/A/18, Yousuf Gulshan Colony,
      <br> East Bandlaguda, lane, beside
     <br>Mehraj garden Function Hall,
    <br>
    Hyderabad, Telangana 500005
  </li>
  </div>
  <div class="footerLinks li">
    <div class="position">
    <h5>Social Media Profiles</h5>
    </div>
    <li class="link"><a href="https://www.facebook.com/profile.php?id=100087286646966"><i class="fab fa-facebook-square"></i></a></li>
    <li class="link"><a href="https://instagram.com/ksitsolutions?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a></li>
    <li class="link"><a href="https://www.linkedin.com/company/ksit-solutions"><i class="fab fa-linkedin"></i> </a></li>
    <li class="link"><a href="https://twitter.com/KSITSolutions"><i class="fab fa-twitter"></i></a></li>

    <div class="terms" >
      <li><span routerLink="/terms-of-use" >Terms of Use </span><span style="margin-left: 0.5rem;">|</span></li>
      <li routerLink="/privacy-policy" >Privacy Policy</li>
    </div>
  </div>

</div>

  <div style="margin-top: 2rem;">
    <li style="list-style: none; padding: 0.4rem; text-align: center; margin-top: 2rems;"><span style="font-size: large;">©</span>  Copyright KS IT Solutions All rights reserved 2022</li>
  </div>
</div>
</footer>
