<div class="aero-head">
    <div class="a-h-data">
      <h2>     
Mining & Minerals
      </h2>
      <p>
        Explore & Network with Mining People!
    </p>
    </div>
    <div class="directory">
      <p>Home / Our Services /
Mining & Minerals
      </p>
    </div>
  </div>
  <div class="aero-space">
  
    <div class="aero">
      <div class="aero-p">
       <h6>Exploring & Networking with Mining People</h6>
              <p>
                KS IT Solutions have been providing a wide spectrum of recruitment related services to the mining and mineral processing industry for many years. Due to our strong technical recruitment expertise and genuine interest in assisting our Clients to fulfil their manpower requirements; we have built a reputation among our Clients as their preferred business partner. We are focused on engaging with Clients and Contractors from all levels in:
        </p>
        <div class="a-l-data">
            <li>
                Owner operated mines
            </li>
            <li> EPCMs
                </li>
            <li>EPC/Contractors</li>
        </div>
       <br>
        <p>
            We offer a specialized team focusing exclusively on mining recruitment within the mining engineering, geosciences, surveying, OH&S, environmental and mine site supervision environments.
         </p>
  
  
  
      </div>
      <img src="assets/clogo.PNG" alt="">
    </div>
    <h6 class="it-h6">Positions we fill in Mining:</h6>

    <div class="aero-list" style="margin-top:0">
      <div class="a-l-data">
        <li>

    Mining Engineer
        </li>
        <li>
            Mine Management and Operations
        </li>
        <li>Mine Surveyor
        </li>
        <li>        Geosciences & Environmental
           
        </li>
        <li> Occupational Health & Safety Engineers
            
        </li>
        <li>
            Mineral Processing Supervisor
          
                </li>
        <li>
            Planning Engineer
                </li>
        <li>
            Project Engineer, EIT
        </li>
        <li>
            Process & Metallurgy
        </li>
  
  
      </div>
    </div>
  
  
    <div class="aero-last">
      <h6>
        KS IT Solutions have a team of recruiters who are focused purely on the unique needs of the Mining Industry.      </h6>
    </div>
  
  </div>
  