<div class="aero-head">
    <div class="a-h-data">
        <h2>
            Banking
        </h2>
        <p>
            Bank on us to source and secure the right workforce!
        </p>
    </div>
    <div class="directory">
        <p>Home / Our Services / Banking</p>
    </div>
</div>
<div class="aero-space">

<div class="aero">
   <div class="aero-p">
    <h3 style="position: relative; top:0rem;">
        Connecting Banking workforce with the secured opportunity!    </h3>

    <p>
        It can be hard to find talent with strong banking, credit union or mortgage experience. Harder still to be sure that they are trustworthy and at the top of their game. At KS IT Solutions, we stand by the promise by providing reliable, 
        specialized professionals with solid financial experience. Our client-centric philosophy and insider industry knowledge ensure that you get the best talent matches—expertise, every time, everywhere!    
         </p>
      <p>
        We cover a broad range of employment opportunities in Investment Banking, Asset Management, Private Banking & Wealth Management, Retail Banking, Mortgages, Insurance, Facility Management, IT, Customer Service & Core Finance roles in a contract and permanent capacity
      </p>   
       <p>
        KS IT Solutions is ready for and offers all clients a distinctive combination of global scale, local focus and specialist expertise in below fields.
       </p>


</div>
<img src="assets/clogo.PNG" alt="">
</div>

<div class="aero-list" style="margin-top:0">

<div class="a-l-data">
<h6>Private & Retail Banking Jobs</h6>
<li>Compliance Officer</li>
<li>Operations Director</li>
<li>Finance Manager</li>
<li>Credit and Risk Officer</li>
<li>Account Manager</li>

</div>

<div class="a-l-data">
    <h6>Investment Banking Jobs</h6>

    <li>Wealth Consultant</li>
    <li>Relationship Manager
    </li>
    <li>Financial Planning Manager
    </li>
    <li>Fund Manager
    </li>
    <li>Independent Financial Advisor
    </li>
    </div>

    <div class="a-l-data">
        <h6>General Financial Service’s Jobs</h6>
        <li>Account Manager
        </li>
        <li>Clients Executive
        </li>
        <li>Junior & Senior Banker
        </li>
        <li>Controller</li>
        <li>Head of Banking
        </li>
        <li>Asset Management
        </li>
        <li>Internal Audit
        </li>
        <li>Chief Financial Officer (CFO)
        </li>
        <li>Director of Banking
        </li>
        </div>

        <div class="a-l-data">
            <h6>General Financial Service’s Jobs</h6>
            <li>Corporate Banking
            </li>
            <li>Equities Capital Markets
            </li>
            <li>Debt Capital Markets
            </li>
            <li>Risk Management
            </li>
            <li>Compliance & Legal
            </li>
            <li>Private Equity & Venture Capital
            </li>
            <li>Trading & Sales Support
            </li>
            <li>Senior Management
            </li>

            </div>
</div>


<div class="aero-last">
    <h6>
        Good constructions begins by putting the right team on the job including the right architect and we can help!    </h6>
</div>

</div>