<div class="aero-head">
  <div class="a-h-data">
    <h2>
      Legal
    </h2>
    <p>
      Your trusted source for Legal Talent!
    </p>
  </div>
  <div class="directory">
    <p>Home / Our Services /
      Legal
    </p>
  </div>
</div>
<div class="aero-space">

  <div class="aero">
    <div class="aero-p">


      <p>
        As business evolves, your success will demand an increasingly more versatile array of specialized legal acumen.
        In today’s highly competitive legal market, you can’t afford to make mistakes with talent. From in-house counsel
        to law firm associates, from senior partners and whole practice groups to new office branches, knowledgeable and
        efficient legal recruiting can make the difference between simply competing and consistently winning. KS IT Solutions recruiters understand this nuance, and we thrive in the legal information business. With insight
        and complete discretion, we deliver a select group of carefully screened candidates, transforming an array of
        possibilities into your successful hire.
      </p>
      <p>
        With practice and recruitment experience in every major market,
        KS IT Solutions, the trusted leader in legal employment services, provides full service permanent and
        temporary placement for attorneys, paralegals, document review and legal support personnel. </p>



    </div>
    <img src="assets/clogo.PNG" alt="">
  </div>

  <div class="aero-list" style="margin-top:0">

    <div class="a-l-data">
      <li>

        Antitrust


      </li>
      <li> Banking
      </li>
      <li> Bankruptcy
      </li>
      <li> Contracts

      </li>
      <li>Corporate Transactions
      </li>
      <li>
        Environmental Issues
      </li>
      <li>
        ERISA
      </li>
      <li>Healthcare
      </li>


    </div>

    <div class="a-l-data">
      <li>

        Insurance
      </li>
      <li>
        Intellectual Property
      </li>
      <li>Labor & Employment

      </li>
      <li>
        Litigation

      </li>
      <li>
        Real Estate

      </li>
      <li> Securities
      </li>
      <li>Tax
      </li>
      <li>Trusts & Estate</li>
    </div>
  </div>


  <div class="aero-last">
    <h6>
        We can readily staff a variety of legal disciplines nationwide with highly qualified and experienced professionals.
    </h6>
  </div>

</div>
