<div class="aero-head">
    <div class="a-h-data">
      <h2>
        Food Industry  
      </h2>
      <p>
        Packaging & Serving you the experienced Food Processing Industry professionals
    </p>
    </div>
    <div class="directory">
      <p>Home / Our Services /
        Food Industry  
      </p>
    </div>
  </div>
  <div class="aero-space">
  
    <div class="aero">
      <div class="aero-p">
  
        <p>
            In a fast-paced, highly regulated industry like food manufacturing and packaging, finding the right people is critical to your success. KS IT Solutions uses a full cycle hygienic focus to support your operations. Our specialists understand your unique requirements to meet the regulations of the FDA, USDA, HACCP, SQF and BRC. You can be confident that every candidate we send for food manufacturing jobs or food packaging jobs is hardworking and well trained in food safety.
  
        </p>
        <p>
            KS IT Solutions has the industry expertise to ensure you have the right people, when you need them. We’re leading the staffing industry in food service production recruitment in USA. Food Services provide a broad range of professionals from food packers to line cooks. Some of the positions we offer are:         
         </p>
        
      </div>
      <img src="assets/clogo.PNG" alt="">
    </div>
  
    <div class="a-l-data" style="margin-bottom: 1rem; margin-top: -1rem;">
      <li>
        Food Packer
        
    </li>
      <li>
        Food Prep
       
        </li>
      <li>
        Food Processing and Production
    </li>
      <li>
        Food Sales Manager
    </li>
    <li>  Production Manager
    </li>
    <li>
        Production Supervisor
    </li>
    <li>
        Quality Control
    </li>
    <li>
        Distribution Manager
    </li>
    <li>
        Seafood Packaging
    </li>
    <li>Food safety
    </li>
    </div>
    <p class="position-1">If you need flexible staff to keep your business productive, profitable and food safety compliant, contact the specialists at KS IT Solutions.
  </p>

  
  
   
  
  </div>
  