<div class="directives" style="position:relative; top:2.4rem; left:5%; color: red;">
    <p routerLink="/home">
     Home 
    </p>
    <span style="color:black">/</span>
    <p routerLink="/privacy-policy"> Privacy</p>
</div>
<div class="privacy" >
    <div class="privacy-data">
    <p class="head">
        Last Updated: May 12, 2020
    </p>   
    <p>
        The “Last Updated” indicates when the Policy was last changed. We may, 
        at any time and without liability, modify or discontinue all or part of the Site 
        (including access to the Site via any third-party links); or offer opportunities 
        to some or all Site users. Any changes will become effective when we post the revised 
        Policy on the Site. Your use of the Site following these changes means that you accept
         the revised Policy.
    </p>
    <p class="head">
        1. COLLECTION OF PERSONAL INFORMATION
    </p>
    <p>
        When you use or register with the Site, we may collect certain information that identifies you as an individual or relates to an identifiable individual (“Personal Information”). The categories of Personal Information we may collect include:
    </p>
    <p>With respect to visitors of the Site, we collect the following categories of 
        information from your browser or directly from you when you visit our Site:</p>

    <li>Internet activity, such as your browsing activity on the Site, your IP address, 
        cookies, installed plug-ins, JavaScript objects, and geolocation data</li>  
    <li>Identifiers if you wish to download certain reports like our salary guides, in which case 
        you will need to provide your first and last name, email</li>
    <li>Professional information if you wish to download certain reports like our salary guides, in which case you will need to provide your job title</li>
      <p>With respect to job applicants, Candidates and our employees, we collect the 
          following categories of information from you:
    </p>
     <li>Identifiers, such as your name and contact information (email, address (mailing and home) and phone number), 
         and any login ID or email address and password created by you</li>
     <li>Professional or employment-related information, such as your job search criteria and preferences, your availability to work, your employment experience, educational history, your skills, reference information, background check information, pay / compensation expectations, ability to work in the United States, 
        languages spoken, and other information contained in your resume</li>
    <li>Emergency contact information consisting of full name and phone number</li>
    <li>Information protected against security breaches such as bank information if you work with us and elect to be paid via direct deposit consisting of bank account numbers and direct deposit information</li>
    <p>With respect to Customers, we collect the following categories of Personal Information from you or from our service providers such as job boards:
    </p>
    <li>Identifiers such as your name, business phone number, and work email
    </li>
    <li>Professional or employment-related information such as your company name, department, and job title</li>
    <li>Information protected against security breaches such as bank and payment information if we render services to you, depending on how you elect to pay for services rendered</li>
    <p>With respect to vendors and independent contractors, we collect the following categories of Personal Information from you or KS IT Solutions's business contacts who may wish to recommend you:</p>
     <li>Identifiers such as your name, business phone number, and work email</li>

     <li>Professional or employment-related information such as your company name, department, and job title
    </li>
     <li>Information protected against security breaches such as bank account information, so we can pay you for providing products or services to KS IT Solutions</li>
     <p>
        With respect to marketing recipients and prospective customers, we collect the following categories of Personal Information from you, from our service providers such as job boards, 
        or from information that is publicly available on the internet:</p>
     <li>Identifiers such as your name, business phone number, and work email</li>
     <li>Professional or employment-related information such as your company name, department, and job title</li>
    
     <p class="head">2. USE OF PERSONAL INFORMATION</p>
    <p>We specify below the business and commercial purposes for which we use Personal Information. We use Personal Information to register you with the Site, to provide you with information regarding employment opportunities and career-related information, to manage our relationship with you, to develop and carry out marketing activities, and to otherwise provide you with requested information or services. We may from time to time use your Personal Information to send you automated email messages, text messages (message and data rates may apply), or marketing materials regarding our services, including employment information. We may also use Personal Information for our business purposes,
        such as data analysis, audits, protecting the Site from abuse, and improving our services.</p>
    <p>In addition to the above purposes, we use your information as described in the section below titled "Disclosures of Personal Information for Business Purposes".</p>
    
    <p class="head">3. NO SALES OF PERSONAL INFORMATION</p>
    <p>We have not sold any of your personal information in the preceding twelve (12) months.</p>
    
    <p class="head">4. DISCLOSURES OF PERSONAL INFORMATION FOR BUSINESS PURPOSES</p>
    <p>For business and commercial purposes, KS IT Solutions may disclose to third parties the following categories of Personal Information:</p>
    <li>Identifiers such as your name and email address</li>
    <li>Characteristics of protected classifications under California or Federal law such as gender</li>
    <li>Internet or other electronic activity information such as network activity information or information obtained from your device like browsing history on the Site, IP address, search history on the Site, your interaction with an advertisement, installed plug-ins, and javascript objects on your device.</li>
    <li>Information protected against security breaches like your direct deposit or bank account 
        information so that workers can be paid and Customers can pay us.</li>
    <li>Geolocation data</li>
    <li>Professional or employment-related information</li>
    <li>Education information</li>
    <li>KS IT Solutions may disclose such Personal Information to the following 
        categories of third parties:</li>
        <br>
    <li>Service Providers. We may share Personal Information with our third-party service providers who perform business functions and services on our behalf such as the provider of KS IT Solutions customer relationship management solution.</li>
    <li>Customers and Prospective Customers. Customers and prospective customers may request professional and employment-related information for purposes of evaluating a Candidate’s credentials, skills and experience. 
        Customers may also need to approve and process timesheet information for Candidates.</li>
    <li>Candidates. We may share Personal Information of our Customers or prospective customers to Candidates such as when a Candidate must know information about whom to contact when going on an interview or an assignment with a Customer or prospective customer.</li>
    <li>As required or appropriate by law. We may disclose Personal Information to regulatory authorities, government authorities or courts to comply with applicable laws, the service of legal process, or if we reasonably believe that such action is necessary to (a) comply with the law requiring such disclosure; (b) protect the rights or property of KS IT Solutions or its affiliated companies; (c) prevent a crime or protect national security;
         or (d) protect the personal safety of the users or the public.</li>
    <li>Business transfers. We also may disclose or transfer information to a third party in the 
        event of any reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business, assets or stock (including in connection with any bankruptcy or similar proceedings).
    </li>
    
    <p class="head">5. COLLECTION AND USE OF OTHER INFORMATION</p>
    <p>“Other Information” is any information that does not reveal your specific identity or does not directly relate to an identifiable individual. We may collect Other Information in a variety of ways, including:</p>
    <li>Through your browser or device: Certain information is collected by most browsers or automatically through your device, such as your Media Access Control 
        (MAC) address, computer type (Windows or Macintosh), screen resolution, operating system name and version, device manufacturer and model, language, date, and Internet browser type and version. We use this information to ensure that the Site function properly. </li>
     
        <li>Using pixel tags and other similar technologies: Pixel tags (also known as web beacons and clear GIFs) may be used to, among other things, track the actions of Site users and email recipients, market our services to you, measure the success of our marketing campaigns and compile statistics about Site usage and response rates.</li>
        <li>Analytics: We use third-party analytics providers such as Google Analytics and Inspectlet on the Site. Google Analytics uses cookies and similar technologies to collect and analyze information about use of the Services and report on activities and trends. Google Analytics may also collect information regarding the use of other webSite, apps and online resources. You can learn about Google’s practices by going to www.google.com/policies/privacy/partners/, and opt out by downloading the Google Analytics opt-out browser add-on, available at https://tools.google.com/dlpage/gaoptout. We have also engaged Inspectlet to analyze the activities of visitors to this Site, and Inspect let’s authorized use of cookies and other tracking technologies enable it to have access to Personal Information of visitors to this Site. Such access to and use of 
            Personal Information by Inspectlet is governed by Inspect let’s privacy policy, available at https://www.inspectlet.com/legal#privacy.</li>
        <li>Site Security: We use the reCAPTCHA service provided by Google to protect the Site and your submissions via internet submission forms on this Site. reCAPTCHA uses the following to evaluate your use of the Site: IP address, your device type and information about your device, cookies placed on your device (such as from Google), language and date information, installed plug-ins, and JavaScript objects. 
            Your use of reCAPTCHA on the Site is subject to the Google Terms and Privacy Policy.</li>
        <li>IP address: Your "IP Address” is a number that is automatically assigned to your computer by your Internet Service Provider. An IP Address may be identified and logged automatically in our server log files whenever a user accesses the Site, along with the time of the visit and the pages visited. We use IP Addresses for purposes such as calculating usage levels, diagnosing server problems, and administering the Site. 
            We may also derive your approximate location from your IP Address.</li>
        <li>Please note that we may use and disclose Other Information for our business purposes.
        </li>

        <p class="head">6. THIRD-PARTY SERVICES
        </p>
        <p>This Policy does not address, and we are not responsible for, the privacy, information or other practices of any third parties, including any third party operating any site or service to which the Site link.
        </p>
        <p class="head">7. SECURITY
        </p>
        <p>We use reasonable organizational, technical and administrative measures designed to protect Personal Information within our organization. Unfortunately, no data transmission or storage
        system can be guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure, please immediately notify us in accordance with the “CONTACT US” section below.
        </p>

        <p class="head">8. CHOICES RELATING TO RECEIVING EMAIL FROM US</p>
        <p>If you no longer want to receive marketing-related emails from us on a going-forward basis, you may opt-out by using the mechanism contained in each such email. Otherwise, you may unsubscribe by emailing us at hr@ksitsolutions.in
        </p>
        <p class="head">9. USE OF SITE BY MINORS</p>

        <p>The Site is not directed to individuals under the age of eighteen (18) 
            and we do not knowingly collect Personal Information from individuals under 18. If you
            are a resident of California, under 18 and a registered user of the Site, you may ask
            us to remove content or information that you have posted to the Site by writing to hr@ksitsolutions.in
           Please note that your request does not ensure complete or comprehensive removal of the content or information, as, for example, some of your content may have been reposted by another user. </p>
         <p class="head">10. NEVADA RESIDENTS</p>
         <p >We do not sell personal information. Nevada residents may email questions regarding our practices relating to personal information to 
            hr@ksitsolutions.in</p>
         <p class="head">11. JURISDICTIONAL ISSUES</p>

         <p>The Site are controlled and operated by us from the United States and is not intended to subject us to the laws or jurisdiction of any state, country or territory other than that of the United States.
        </p>
        <p class="head">12. ACCESS OR DELETION REQUESTS FOR CALIFORNIA RESIDENTS
        </p>
        <p>If you are a California resident, you have the right, subject to certain exceptions defined in the California Consumer Privacy Act (“CCPA”) and other applicable laws and regulations, to request that KS IT Solutions disclose certain information to you about our collection and use of your personal 
            information over the past twelve (12) months. You will not receive discriminatory treatment 
            for exercising your rights under the CCPA. 
            If you would like to exercise your rights to make an information access request or a 
            deletion request, please click the applicable links below. In order to verify your
             request, you will need to provide your legal first and last name, email address 
             you use to correspond with KS IT Solutions, your relationship with 
             KS IT Solutions, and the state you currently reside in. After you submit 
             the form, you will need to verify your email by clicking on a “Confirm Email” button 
             in the email we will send you.</p>


             <p>If you authorize an agent to make an access or deletion request on your behalf, please have the authorized agent email hr@ksitsolutions.in</p>
                <p class="head">13. CONTACT US
                </p>
                <p>If you have any questions or complaints about the Terms or the Policy, or if you would like to update any personal information you have provided to us, please contact the webmaster at 
                    hr@ksitsolutions.in</p>
                <p>
                    Please note that e-mail communications will not necessarily be secure; accordingly, you should not include credit card information or other sensitive information in your e-mail correspondence with us.

                </p>
</div>
</div>