<!--
        <div class="ms" id="staffing">


        <div class="position software">
            <h2>Direct Hire Staffing</h2>
            <img class="img1"src="../../../assets/Interview.gif" alt="">
<div class="directData">

            <p>
                KS IT Solutions Direct Hire recruitment are driven by an exceptional team of professionals who bring a wealth
        of knowledge and experience to any situation we are specialized in Accounting &amp; Finance/ Administration/ Architecture/
        Construction/ Electronics/ Engineering/ Executive/ Food &amp; Beverage/ HealthCare/ Information Technology/ Insurance/
        Machinery/ Manufacturing/ Marketing/Media/ Pharmaceutical/ Drivers/ Sales &amp; Marketing/ Software/ Technology
            </p>
        <p>
            We understand that every industry and sector are different, and that drives our approach to recruitment. Our
            specialization enables KS IT Solutions to find creative recruitment solutions for your specific needs. That
            means not only for a specific industry, but your own individual needs and expectations too. This approach delivers
            exceptional outcomes for our clients and candidates, while also reducing the duration of the process, providing a cost-
            effective service to meet your recruitment needs.
        </p>

            <button mat-raised-button routerLink="/direct-hire">Know More about our IT / Non-IT Services</button>
        </div>









    </div>

        <div id="software"></div>


        <div class="position software " style="width:100%" id="contract">
            <div class="concen">

            <div class="contract">
            <h2 >Contract Services</h2>
            </div>
            <img class="img2"src="../../../assets/Partnership.gif" alt="">

            <div class="conData">

            <p>
                Our Staffing team work towards understanding our client requirements and
                candidate’s best interests. When we strike a perfect balance between them we
                give them an option to move our candidates from contract staffing to permanent
                staffing.
            </p>
        <p>
            KS IT Solutions provides you a creative option to monitor an employee’s
          performance on-site before making any hiring decision. This is our “try before
          you buy” option.
        </p>
    </div>
</div>

        </div>

   -->
