
<div class="ms" >
<div class="software">
    <div class="sofh2" style="text-align: left;">
        <div class="h2">
            <h2>Software Development and Solutions</h2>
        </div>
        <div class="softData">
        <img src="../../../assets/tech-company.gif" alt="">
        <div class="servicesText">

                <p>
                  KS IT Solutions is dedicated to delivering comprehensive software development services.
                   Our expertise lies in creating and maintaining applications, frameworks,
                  and other software solutions. With meticulous attention to detail, we conceptualize, specify, design, program, document, test, and resolve bugs to ensure exceptional quality.



                    </p>
                    <div class="sofext">

                    <p >
                      Our software development approach extends beyond writing and
                      maintaining source code. We undertake a holistic process,
                       covering the entire software lifecycle from conception to
                       realization. This planned and structured methodology guarantees a stable
                        and fully functional software solution that precisely meets your requirements.

                        <br>
                        At KS IT Solutions, our priority is to provide you with
                         tailored software-based solutions. Whether you need software
                          for computers, mobile phones, or web applications, we have the capabilities to develop purpose-driven solutions. Trust us to deliver reliable and top-notch software that fulfills your unique needs.

                      </p>
                    </div>

                     <ng-container *ngIf="textVisible" class="softext2">



                      <p >
                        Our software development approach extends beyond writing and
                        maintaining source code. We undertake a holistic process,
                         covering the entire software lifecycle from conception to
                         realization. This planned and structured methodology guarantees a stable
                          and fully functional software solution that precisely meets your requirements.

                          <br>
                          At KS IT Solutions, our priority is to provide you with
                           tailored software-based solutions. Whether you need software
                            for computers, mobile phones, or web applications, we have the capabilities to develop purpose-driven solutions. Trust us to deliver reliable and top-notch software that fulfills your unique needs.

                        </p>


                </ng-container>

                 <button   mat-raised-button (click)="onView()">{{viewRead? 'Read More': 'Read Less'}}</button>
                </div>
    </div>

    </div>




</div>
</div>

  <div class="more-services">
<div class="m-s">
  <p>Our Services You will like to have</p>
  <div><h2>Helping Your Business, The Digital Way</h2></div>
  <h5  class="m-s-h5" style="font-weight: light; ">We have a perfect team specialized in Desktop/Mobile App Development, UX/UI, Web Design, Content Writing, Marketing & Growth Analysis and Research. Whether you're a startup working on your idea or a business that needs an innovative solution,
    we are pleased to assist you with your digital needs and growth strategies.</h5>
  <div class="displayer">
    <div class="p-s-box one">
      <div>
        <span class="material-icons">
          design_services
        </span>
      </div>
      <div>
        <h5>Graphics & Animations</h5>
        <div class="p-s-box-text ">
          <p>Designing Captivating Images, Motion Designs & Animations, Logos and Illustrations</p>
        </div>
      </div>
    </div>
    <div class="p-s-box two">
      <div>
        <span class="material-icons">
          brush
        </span>
      </div>
      <div>
        <h5>UI/UX Design</h5>
        <div class="p-s-box-text">
          <p>Creating Interactive User Interfaces To Make Navigation Easier for Web & Mobile Applications</p>
        </div>
      </div>
    </div>
    <div class="p-s-box three">
      <div>
        <span class="material-icons">devices_other</span>
      </div>
      <div>
        <h5>Web & App Development</h5>
        <div class="p-s-box-text">
          <p>
            Fast & Efficient Web, Desktop & Mobile Applications Made With Modern Technologies        </p>

        </div>
      </div>
    </div>
    <div class="p-s-box four">
      <div>
        <span class="material-icons">
          edit
          </span>
      </div>
      <div >
        <h5>Content Writing</h5>
        <div class="p-s-box-text">
          <p>
            Writing Well Researched and Attractive Content with Readability and Effectiveness
          </p>
        </div>

      </div>
    </div>

</div>
</div>

<div class="content-marketing">
  <h5>Content Writing and Marketing</h5>
  <p>At KS IT Solution, we provide top-notch content writing and marketing services to help businesses thrive online. Our talented team of writers crafts engaging and informative content that connects with your target audience across various platforms. From compelling blog posts to captivating social media content, we create tailored content that showcases your expertise and drives traffic to your website.</p>
  <p>  But we don't stop there. Our marketing strategies go beyond content creation. We optimize your website for search engines, engage your audience through social media, nurture leads with email marketing, and even collaborate with influencers to expand your brand's reach. With our integrated approach, we help you strengthen your online presence, increase brand awareness, and achieve meaningful results. Let us take your content and marketing efforts to the next level</p>
</div>
  </div>
