<div class="aero-head">
    <div class="a-h-data">
        <h2>     
            Supply Chain & Logistics
        </h2>
        <p>
            Let KS IT Solutions do the Heavy Lifting!
        </p>
    </div>
    <div class="directory">
        <p>Home / Our Services /   
         Supply Chain & Logistics
            </p>
    </div>
</div>


<div class="aero-space">

<div class="aero">
   <div class="aero-p">
    <p>
        KS IT Solutions is at the forefront of providing staffing solutions for logistics and supply chain industries. And we do it to connect top-tier companies with highly professional and seasoned logistics experts. We have a comprehensive database of supply chain and logistics personnel, connecting you with the most suitable candidates for the right position. We can hire for both for long and short-term assignments.  We have an optimum blend of logistics expertise and experience to deliver supply chain and logistics staffing solutions for transportation, logistics, assembly, supply chain and other labor intensive operations.    </p>
      <p>
        Based on your specific requirements, our team of logistics recruiters will identify and recruit qualified professionals whilst handling pre-screening, testing and training steps. We specialize in recruiting for logistics-related position because we have an in-depth understanding of the roles and skill-sets required to fill the vacancies. Our team of logistics recruiters are adept at providing supply chain staffing solutions for the following positions:        </p>
</div>
<img src="assets/clogo.PNG" alt="">
</div>

<div class="aero-list" style="margin-top:0">

<div class="a-l-data">
<li>
    

    Account Executives
 


</li>
<li>
    Import & Export Agents
  
</li>
<li>
    Supply Chain Manager
   
</li>
<li>
    Logistics Manager
     </li>
<li>
    Gateway Managers
</li>
<li>
    Freight Agent   
</li>
</div>

<div class="a-l-data">

    <li>
        Brokerage Manager               
    </li>
    <li>
        Production Supervisor   
    </li>
    <li>
        Transborder Supervisor
                
    </li>
    <li>
        Inventory Control Professionals
                     
    </li>
    <li>
        Warehouse Office Staff and Managers
              </li>
    <li>And several others! 
   </li> 
    </div>

</div>



</div>