<div class="aero-head">
    <div class="a-h-data">
        <h2>
            Architecture & Design
             </h2>
        <p>
            Designing & Shaping the career of High Performers!
        </p>
    </div>
    <div class="directory">
        <p>Home / Our Services / Architecture & Design</p>
    </div>
</div>
<div class="aero-space">

<div class="aero">
   <div class="aero-p">
    <h3 style="position: relative; top:0rem;">Designing & Shaping the career of High Performers!</h3>

    <p>
        We understand the central role that Architects plays in construction field. They are professionals trained in the art and science of building design, developing concepts for structures and turning those concepts to images and plans for construction. If your organization needs to employ an Architect, you can find skilled architect candidates by contacting KS IT Solutions, the leading staffing agency.        </p>
       
        <p style="color: red; font-weight: bold; position: relative; top:1rem">Our Architecture & Design Service Expertise Includes
        </p>


</div>
<img src="assets/clogo.PNG" alt="">
</div>

<div class="aero-list" style="margin-top:0">

<div class="a-l-data">
<li>Architects</li>
<li>Architectural Designer & Drafters</li>
<li>Civil Designer & Drafters</li>
<li>Electrical Designers</li>
<li>Electrical Drafters</li>
<li>Highway Design Engineers</li>
<li>Inspectors</li>

</div>

<div class="a-l-data">
    <li>Mechanical Design Engineers</li>
    <li>Mechanical Drafters</li>
    <li>Piping Designers</li>
    <li>Structural Drafters</li>
    <li>Structural Engineers</li>
    <li>Surveyors</li>
    </div>

</div>


<div class="aero-last">
    <h6>
        Good constructions begins by putting the right team on the job including the right architect and we can help!    </h6>
</div>

</div>