<div id="services" class="data">
    <h2>Services We Offer</h2>
    <hr>
        <div  class="service">
          <div class="servcard">
            <mat-card   class="card1 card">

               <div class="boxes" >
                <span class="material-icons">
                  brush
                    </span><br>
                    <h3>Software Design
                    </h3>
                    <p>Attractive visual designs & Animations that stand out! and eyesome on contact</p>

                      <!-- <button mat-raised-button (click)="toSoftware()">Read More</button> -->
              </div>
              </mat-card>
        </div>
            <div class="servcard">
                <mat-card  id="services" class="card1 card">

                   <div class="boxes" >
                    <span class="material-icons">
                      developer_mode
                        </span><br>
                        <h3>Software Development

                        </h3>

                            <p>Building and Maintaining websites. Experience Fully Optimized and Responsive SPA with Sparkling features!</p>
                          <!-- <button mat-raised-button (click)="toStaff()" >Read More</button> -->
                  </div>
                  </mat-card>
            </div>
            <div class="servcard">
                <mat-card  id="services" class="card1 card">
                   <div class="boxes" >
                    <span class="material-icons">
                        campaign
                        </span>
                        <br>
                        <h3>Marketing / Promoting
                        </h3>
                        <p>

                          Effective Marketing Campaigns with Effective Growth Strategies

                        </p>
                          <!-- <button mat-raised-button (click)="toContract()">Read More</button> -->

                  </div>
                  </mat-card>
            </div>






            <!-- <div class="servcard">
                <mat-card  id="services" class="card1 card">

                   <div class="boxes" >
                    <span class="material-icons">
                        security
                        </span><br>
                        <h3>Cyber Security
                        </h3>
                        <p>Need your Security to be enhanced and optimised?
                            we here provide proficient solutions to your critical security system. </p>
                          <button mat-raised-button routerLink="/cyber-security">Read More</button>

                  </div>
                  </mat-card>
            </div> -->
    </div>
</div>
