<div class="aero-head">
  <div class="a-h-data">
    <h2>
        Engineering
    </h2>
    <p>
      The Right People make a difference!
    </p>
  </div>
  <div class="directory">
    <p>Home / Our Services / Engineering</p>
</div>
</div>
<div class="aero-space">

  <div class="aero">
    <div class="aero-p">

      <p>
        Any engineering organization demands an equally effective workforce partner, with the integrity and technical competence to ensure high performance from its engineering talent.
      </p>
      <p>
        KS IT Solutions specializes in providing workforce solutions to the engineering industry and has been placing engineers with clients from many years. We’ve built our recruitment success on the value of quality people. Our recruitment solutions are developed to address the workforce challenges of the engineering community, across an array of specialized industries.
      </p>
      <p>
        Our construction staffing experts specialize in building a construction job force with wide variety of trades
        and positions including: </p>


    </div>
    <img src="assets/clogo.PNG" alt="">
  </div>

  <div class="e-data">

  <div class="a-l-data" style="margin-bottom: 1rem;">
    <h6>Manufacturing</h6>
    <li>Mechanical Engineers</li>
    <li>Manufacturing Engineers
    </li>
    <li>Automotive Engineers
    </li>
    <li>Design Engineers
    </li>
    


  </div>
  
  <div class="a-l-data" >
      <h6>
        Quality
        </h6>
        <li>    Quality Specialists/Analysts/Inspectors
        </li>
        <li>    Regulatory Affairs/FDA/ISO/HACCAP
           </li>
         <li>
            Quality/Safety Engineers
         </li> 
         <li>
            Lean/Sig Sigma/Black Belt
         </li> 
         <li>
            Compliance/Regulations
         </li>
  </div>
</div>

<div class="e-data">

    <div class="a-l-data" style="margin-bottom: 1rem;">
      <h6>Power</h6>
      <li>Electrical Engineers & Designers</li>
      <li>MEP Consulting Engineers/LEED
      </li>
      <li>Building Commissioning/CFD/3D Modelling
      </li>
      <li>Lighting Design/Renewable Energy
      </li>
      <li>
        Substation Design/High, Low Voltage
      </li>
      <li>Controls/Automation/Instrumentation</li>
  
  
    </div>
    
    <div class="a-l-data" >
        <h6>
            Semicondutor
          </h6>
          <li>Product Design
          </li>
          <li>Packaging Design
             </li>
           <li>
            Analog/Circuit Design
           </li> 
           <li>
            Embedded Engineers
           </li> 
           <li>
            FPGA/ASIC/VLSI
           </li>
           <li>Software/Hardware</li>
    </div>
  </div>


 

</div>
