/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/lara-light-indigo/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

html{
    overflow-x: hidden;
}
body{
    margin: 0;
    z-index:0;
    width: 100%;
    outline: none;
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif;
    width: 100%;
}
html, body {
     height: 100%;
     outline:none;
     position: relative;
     top:0;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.data hr, .tech hr, .form hr{
    width: 10rem;
    color: #243A73;
    margin-bottom: 2rem;
}
*{
    outline: none;
}
html, body { height: auto }