<div class="aero-head">
    <div class="a-h-data">
        <h2>     
            Science
        </h2>
        <p>
            Formulating the future with the most gifted science professionals!
        </p>
    </div>
    <div class="directory">
        <p>Home / Our Services /   
          Science
            </p>
    </div>
</div>


<div class="aero-space">

<div class="aero">
   <div class="aero-p">
    <p>
        Our specialized recruiters connect our clients with a range of scientific talent across a variety of industries.  KS IT Solutions has a database of skilled candidates ranging from microbiologists, lab technicians, metallurgists, chemists and more. We partner with every client and each candidate to ensure that a placement is a mutual fit.At KS IT Solutions, we find excitement in connecting talented scientific professionals with outstanding companies across the United States. Jobs can be temporary for employees to gain valuable industry experience or long-term roles that will develop or even change an employee’s career path. Much of the thrill we get out of helping someone launch or advance their career comes from the fact that our Scientific Recruiters are industry professionals. 
    </p>
      <p>
        As science changes, your needs change, and our approach changes. Regardless, we’ll always have the talent pool, staffing expertise and flexibility you require. If you’re looking for top talent, below is a sample of skill sets we specialize in.  


</div>
<img src="assets/clogo.PNG" alt="">
</div>

<div class="aero-list" style="margin-top:0">

<div class="a-l-data">
<li>
    Biologists
</li>
<li>
    Chemical Engineers
</li>
<li>
    Drug Safety & Information Personnel
</li>
<li>
    Environmental Scientists
  </li>
<li>
    Laboratory Technicians
   
</li>
<li>
    Medical Affairs Professionals
</li>
<li>
    Medical Laboratory Technologists
</li>
</div>

<div class="a-l-data">

    <li>
        Metallurgists
                
    </li>
    <li>
        Microbiologists
          
    </li>
    <li>
        Nurses
            
    </li>
    <li>
        Quality Control
             
    </li>
    <li>
        Regulatory Affairs Professionals
        </li>
    <li> Research Associates
   </li>
   <li>
    Scientific Writing
   </li>  
   <li>Scientists
</li>  
    </div>

</div>



</div>