<div class="aero-head">
  <div class="a-h-data">
    <h2>

      Finance & Accounting


    </h2>
    <p>
      Make a Calculated Move with KS IT Solutions!
    </p>
  </div>
  <div class="directory">
    <p>Home / Our Services /
      Finance & Accounting
    </p>
  </div>
</div>
<div class="aero-space">

  <div class="aero">
    <div class="aero-p">

      <p>
        Fortified with a wealth of experience and domain expertise, KS IT Solutions supports businesses of all shapes and
        sizes in discovering talent and building long-term relationships. We have teams of highly-skilled and seasoned
        professionals who place the brightest finance and accounting job seekers in companies ranging from small to
        medium to multinational enterprise.

      </p>
      <p>


        We are smart, persistent, and pride ourselves on never taking shortcuts to recruit skilled candidates, ranging
        from accounts payable and receivable to collections. We partner with each client and candidate to match the
        skill sets and their preferences to permanent, contract and interim roles across every industry vertical
        including major segments such as Financial Services, Investment Banking, Commerce and Industry, Public Sector,
        etc. </p>

      <p>We have a robust database of finance and accountants professionals – recruiting the candidates you have an eye
        for and ensuring that the qualifications in terms of both education and work experience is met.

      </p>
      <br>
      <h6>GET THE KS IT Solutions Advantage:</h6>
      <p>Whether you are a highly qualified accountant or a fresher, or a client eyeing a well-connected accounting and
        finance candidate, we have the experience and know-how to help match employer and candidate.</p>

    </div>
    <img src="assets/clogo.PNG" alt="">
  </div>

  <div class="a-l-data" style="margin-bottom: 1rem; margin-top: -1rem;">
    <li>As a specialized accounting and finance recruitment agency, we have the required industry experience and
      knowledge to select the best-suited professionals in the industry</li>
    <li>We follow client-focused approach so that you can be confident about the candidate you appoint</li>
    <li>With advanced network and sourcing capability, recruiting in both national and international markets – from
      fresher to fully-qualified professionals and early career to executive levels</li>
    <li>We address talent needs across middle and senior management roles</li>
  </div>
<br>
  <p class="position">KS IT Solutions delivers value across the following domains:
</p>
  <div class="aero-list" style="margin-top:0">
    
    <div class="a-l-data">
      
      <h6>Finance:</h6>
     <li>Financial Analyst</li>
      <li>Financial Controller
      </li>
      <li>Financial Accountant
      </li>
      <li>Head of Planning & Forecasting
      </li>
    </div>
    
    <div class="a-l-data">
        <h6>Accounting: </h6>
      <li>
        CFO
      </li>
      <li> Tax/VAT Specialist
      </li>
      <li>Chief Accountant
      </li>
    </div>

   <div class="a-l-data">
    <h6>Audit:</h6>
      <li>Internal/External Auditor

      </li>
      <li>Audit Manager Tax

      </li>
      <li>Director of Internal audit

      </li>
    </div>

    <div class="a-l-data">
        <h6>Treasury & Cash Management:
        </h6>

        <li>Treasurer
        </li>
        <li>Credit Controller
        </li>
        <li>Credit Manager
        </li>
      </div>
  </div>


 

</div>
