<div class="nav" id="home">
  <!-- <div class="bor-nav" id="home">
    <p style="float: right;" class="material-icons meno" (click)="onViewNav()">menu</p>
    <div class="bighome2" *ngIf="visible">
      <div class="fix">
        <li (click)="toHome()">Home</li>
        <li (click)="toServices()">Services</li>
        <li (click)="toWhy()">Why Us?</li>
        <li (click)="toContact()">Contact</li>
      </div>
    </div>
  </div> -->
  <!-- <app-navbar></app-navbar> -->

</div>


<div class="homeData">

  <!-- <div class="homeText">

      <h1>Web and Application Development Services that maximize your revenue.</h1> <br>
      <div class="homeP">
        <p>we design and develop web technologies Plenary with all latest trends. <br>
          We Provide a variety of resources that support your business.
          <br> With us you get a more options to accelerate your business either <br> it's a Startup or Looking to build
          a company website. </p>
      </div>



    </div> -->
  <div class='container-fluid responsive' style="padding: 0; margin: 0; position: relative; top:0rem; bottom: 0;  z-index: 2;">
    <ngb-carousel>
      <ng-template ngbSlide>

        <!-- <img class="caro" src="../../assets/software.jpeg" style="background-color: rgba(0, 0, 0,0.3);"
          alt="Delhi Metro"> -->
          <div class="shape">
            <!-- <div class="egg">
              .
            </div> -->
            <div class="shapeData"style="margin-bottom: 0; padding: 0;" >

              <h2 style="font-weight: bold;">TOP WEB AND MOBILE APP DEVELOPERS
              </h2>
               <div style="display: flex; justify-content:flex-start;">
                <button (click)="toContact()">Connect With Us For</button>

               </div>

              <h1>
                CREATIVE DESIGNS
                POWERFUL APPS              </h1>
               <h4>
                Innovating Advanced & AI Driven Solutions for startups <br>and enterprises around the world.
                </h4>

            </div>
          </div>

      </ng-template>
      <!-- <ng-template ngbSlide>
        <div class="shape">
          <div class="egg">
            .
          </div>
          <button (click)="toContact()">Connect With Us</button>
          <div class="shapeData"style="margin-bottom: 0; padding: 0;">
            <h2 style="font-weight:bold;">Get Started Fulfilling your IT Services need
            </h2>
            <br>

            <h5>
              We Provide Software Development Service
              </h5>
               <h5>
                Connect with us now
               </h5>
                <h5>
                to know Where to Start
              </h5>
          </div>
        </div>
      </ng-template> -->
      <!-- <ng-template ngbSlide>
        <div class="shape">
          <div class="egg">
            .

          </div>
          <button (click)="toContact()">Connect With Us</button>
          <div class="shapeData d3"style="margin-bottom: 0; padding: 0;">
            <h2 style="font-weight:bold;">Begin your New Opportunities With Us iygiugiugiu
            </h2>
            <br>

            <h5>
              We Provide Both IT & Non IT Jobs
              </h5>
               <h5>
                Connect with us now
               </h5>
                <h5>
                  to know about our jobs IT & Non IT Jobs
                </h5>
          </div>
        </div>
      </ng-template> -->

    </ngb-carousel>

  </div>


</div>
<div class="glowing">

  <span style="--i:1;"></span>

  <span style="--i:2;"></span>

  <span style="--i:3;"></span>

</div>

<div class="glowing">

  <span style="--i:1;"></span>

  <span style="--i:2;"></span>

  <span style="--i:3;"></span>

</div>

<div class="glowing">

  <span style="--i:1;"></span>

  <span style="--i:2;"></span>

  <span style="--i:3;"></span>

</div>

<div class="glowing">

  <span style="--i:1;"></span>

  <span style="--i:2;"></span>

  <span style="--i:3;"></span>

</div>

<div>

  <app-services ></app-services>
</div>

<div>
  <app-staffing></app-staffing>
</div>

<div   >
  <app-software ></app-software>
</div>

<div class="tech">
  <div class="maintech">
    <h2>Technologies We Use for Development</h2>
    <hr>
    <div class="techwidth">
      <div class="techC">

        <mat-card class="techImage" style="border:rgb(248, 9, 9) 4px solid ;">
          <div class="Tlogos">

            <img src="../../assets/angular.png" alt="">
            <p class="span" style="color: red;">Angular</p>
          </div>


        </mat-card>

        <mat-card class="techImage" style="border:rgb(0, 249, 0) 4px solid ;">
          <div class="Tlogos">

            <img src="../../assets/node-js.png" alt="">
            <p class="span" style="color: green;">Node Js</p>
          </div>

        </mat-card>

        <mat-card class="techImage" style="border:rgb(0, 249, 0) 4px solid ;">
          <div class="Tlogos">

            <img src="../../assets/mongo.png" alt="" >
            <p class="span" style="color: green;">MongoDB</p>
          </div>

        </mat-card>

        <mat-card class="techImage" style="border:rgb(249, 241, 0) 4px solid ;">
          <div class="Tlogos">
          <img src="../../assets/javascript.png" alt="">
          <p class="span" style="color: #FF8E00;">JavaScript</p>
        </div>

        </mat-card>

        <mat-card class="techImage" style="border:rgb(255, 30, 0) 4px solid ;">
          <div class="Tlogos">
            <img src="../../assets/primeng-logo.png" alt="">
            <p class="span" style="color: red;">PrimeNg</p>
          </div>

        </mat-card>

        <mat-card class="techImage" style="border:rgb(249, 249, 0) 4px solid ;">
          <div class="Tlogos">

            <img src="../../assets/material.png" alt="">
            <p class="span" style="color:#FF8E00;">Angular Material</p>
          </div>

        </mat-card>
        <mat-card class="techImage" style="border:rgb(249, 249, 0) 4px solid ;">
          <div class="Tlogos">

            <img src="../../assets/react.png" alt="">
            <p class="span" style="color:#006eff;">React</p>
          </div>

        </mat-card>
        <mat-card class="techImage" style="border:rgb(96, 10, 255) 4px solid ;">

          <div class="ps" >
            <div class="Tlogos">
              <img src="../../assets/photoshop.png" alt="">
              <p class="span" style="color:#1A1A40;">PhotoShop</p>
            </div>
          </div>
        </mat-card>
      </div>
      <div style="display: flex; justify-content:center">
         <h3 style="margin: 0; padding: 4px 16px; background-color: #1A1A40; color: #00f7ff; width: max-content; border-radius: 20px;">And Much More</h3>
      </div>
    </div>
  </div>
</div>
<div class="whyall">

  <!-- <div class="whyLogo">
    <img class="whyImage" src="../../assets/clogo.PNG" alt="">
    <img class="whyImage2" src="../../assets/cbr-auto.gif" alt="">
  </div> -->

  <div class="whyData" id="whyus">
    <h4>Why Choose <span class="cname">KS IT Solutions?</span> </h4>
    <div class="whyText">
        <p>
          <span style="font-weight: bold; font-size:2rem">Enhance Your Business Growth Potential with Our Advanced & Cost-Cutting Solutions
          </span>

          <p>
            Specialized in AI (Artificial Intelligence) based solutions, UI and UX designs, attractive visuals and animations,
            KS IT Solutions builds most highly scalable web apps for our Client’s using the Most popular and latest
            web technologies for instance angular Framework used for frontend, developed by Google and also used in building
            popular websites like Netflix, Flipkart, Google itself, YouTube, and so on.
          </p>
          <p>
          So one thing is clear adopting the technologies used in the world’s highest traffic consuming websites/web apps on the
        Internet is a wise choice to give greater flexibility to your web apps/ website.
        Not just this, For the backend we use NodeJS it is the library of JavaScript that uses the MongoDB database, If you go
        further and search about this, you will find how swiftly this database manages shit ton data with no errors caused.
        </p>
          <ng-container class="readmore" *ngIf="visible">



<p>
So, In the combination of these technologies, a strong website/web app is formed with tough security. However, these
are not the only things we are limited to, we have a lot to serve you with quite a few more services, just let us know your
requirement by clicking on the service(s) you need available in the service section, fill out the form correctly according to
your needs and we will get in touch with you.
        </ng-container>

      <button mat-raised-button class="r-btn"(click)="onReadMore()" style="color:#1A1A40;">{{view? 'Read More': 'Read Less'}}</button>

    </div>
  </div>
</div>

<div class="form" id="contact">
  <!-- <div class="container2"> -->
  <h1>Let Us know</h1>
  <hr>
  <div class="mainform">
    <div class="resform">
      <form action="https://formsubmit.co/2c2e74e4966acc2d5ae8919cc7175f6f" method="POST">
        <div class="coll">
          <input class="cc" type="text" name="name" class="form-control" placeholder="Full Name" required>
        </div>
        <div class="coll">
          <input type="text" name="number" class="form-control" placeholder="Number" required>
        </div>

        <div class="colarea">
          <input type="email" name="email" class="form-control" placeholder="Email Address" required>

        </div>
        <div class="colarea">
          <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
        </div>
        <input type="hidden" name="_next" value="https://ksitsolutions.in/">
        <input type="hidden" name="_captcha" value="false">
        <div class="formBtn" style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
      </div>

      </form>
    </div>
    <div class="formimg">
      <img src="../../assets/118.svg" alt="">

    </div>
    <!-- </div> -->


  </div>
</div>


<!-- <div style="text-align: center;background-color: #DA1212; padding-bottom: 0; height:max-content;">
    <p style="background-color: #DA1212; color: white;" >Copyright All rights reserved 2022-2023</p>
</div> -->

