<div class="position">
<div class="software">
            <div style="text-align: center;">
                <div style="width:100%; text-align: center; display: flex; justify-content: center;">
                    <h2>Our Recruitment & Staffing Services</h2>
                </div>
                <div class="imgData">

                    <img src="../../../assets/staff3.png" alt="">

                   <div class="StaffData">

                <div class="servicesText">
                    <p>
                        KS IT Solutions proceeds every action with well-conducted measures to hire best candidate(s) that has high
                    intellectual capabilities, who set the pace for the organizations growth and transform their own skill set and quality of
                    life. Our pre-employment screening process sets us apart from other recruiting agencies, so you can trust and be
                    confident in your direct hire decisions. Spell out your direct hiring needs and KS IT Solutions will customize an
                    effective solution for you.
                    
                        </p>
            
                     <p>
                        There is a warranty period to ensure the right fit All placements are tested with our State-of-the-Art Evaluations Value-
                        added services of background checks / screening is done to ensure a perfect fit
                     </p> 
                        <p >
                            The world of information technology is constantly moving, and we move right along with it. 
                            IT is part of the backbone of our company. That’s why our clients trust us to bring us the best in IT talent. 
                            
                            <br> From frontend, to backend and everything in between, we have opportunities where you can use your technical 
                            skills to make a big difference for our clients – and your career.
                            <br>
                            Either IT or Non IT with combination of all streams we bring plenary solutions
                             to minimize work load and maximize the growth.
                             <br>
                             Having a talented staff helps accomplishing tasks with End-to-End Support in the best possible way.
                             <br>
                             We here provide IT and Non - IT Staffing service to our clients, It's propitious to have served 
                             what you need.  
                         </p>
                     
                </div>

            </div>
        </div>

        </div>

        </div>
</div>